*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #F1F1F1;
}
nav{
    padding: 8px 10px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-logo{
    display: none;
}
.search-container {
    display: flex;
    align-items: center;
    width: 550px; 
    position: relative;
    left: 85px;
}
.search-icon {
    position: absolute;
    left: 15px;
}
.search-input {
    width: calc(100% - 60px);
    padding: 10px 0;
    padding-inline: 42px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #E3E3E3;
    background-color: #303030;
    outline: none;
    border: 1px solid #fff;
}

.user-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user-container .notification-container{
    border-radius: 5px;
    background-color: #303030;
    margin-right: 10px;
    padding: 1px 5px;
}
.user-container .user-profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #E3E3E3;
    /* padding: 8px 10px; */
    background-color: #303030;
    border-radius: 5px;
    gap: 10px;
}
.user-container .user-profile .user-name{
   margin-left: 9px;
}
.user-container .user-profile .user-name-abb{
    background-color: #36FB1A;
    border-radius: 5px;
    padding: 6px 6px;
    margin: 3px 3px 3px 0;
    color: #209761;
}


@media screen and (max-width:450px) {
    .desk-logo{
        display: none;
    }
    .mobile-logo{
        display: block;
    }
    .search-container {
        left: 25px;
    }
    .search-input {
        width: calc(100% - 40px);
    }
    .user-container .notification-container{
       background-color: transparent;
    }
    .user-container .user-profile{
       background-color: transparent;
    }
    .user-container .user-profile .user-name{
        display: none;
    }   
}





.pay-container{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    width: 100%;
}
.pay-container .container-wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;

}
.pay-container .container-wrapper .plan-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 14px 20px;
    border-radius: 10px;
    gap: 280px;
}
.pay-container .container-wrapper .plan-container .text-container{
    display: flex;
    align-items: center;
    position: relative;
}
.pay-container .container-wrapper .plan-container .text-container .x{
    position: absolute;
    left: 705px;
}
.pay-container .container-wrapper .plan-container .text-container span{
    color: #fff;
    text-align: start;
    justify-content: flex-start;
 }
.pay-container .container-wrapper .plan-container .select-container button{
    padding: 8px 10px;
    border: none;
    outline: none;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
    right: 45px;
}
.pay-container .container-wrapper .setup-container{
    padding: 20px 12px 6px 12px;
    border-radius: 14px;
    border: .5px solid green;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 780px;
}
.pay-container .container-wrapper .setup-container .st-text-icon-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pay-container .container-wrapper .setup-container .st-text-icon-container span{
    margin-bottom: 8px;
}
.pay-container .container-wrapper .setup-container .st-text-icon-container .show-more-button{
    display: block;
}
.pay-container .container-wrapper .setup-container .st-text-icon-container .close-button{
    display: none;
}
.pay-container .container-wrapper .setup-container .status-container{
    color: #303030;
    padding-top: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}
.pay-container .container-wrapper .setup-container .status-container .status-bar{
    width: 60px;
    height: 6px;
    background-color: #e3e3e3;
    border-radius: 5px;
}
.pay-container .container-wrapper .setup-container .shop-container{
    background-color: red;
    width: auto;
    margin-top: 20px;
    border-radius: 9px;
    display: flex;
    justify-content: center;
    gap: 7px;
    /* padding-inline-start: 0px; */
    padding: 4px 0 14px 0;
}
.pay-container .container-wrapper .setup-container .shop-container .circle-icon{
    /* padding-top: px; */
}
.pay-container .container-wrapper .setup-container .shop-container .content{
    display: flex;
    justify-content: center;
    gap: 90px;
    align-items: center;
    /* opacity: 0;
    height: 0;
    overflow: hidden; */
    transition: opacity 0.3s, height 0.3s ease-out;
}

.show-options {
    opacity: 0;
    /* height: auto;  */
}
.pay-container .container-wrapper .setup-container .shop-container .content .text{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 5px;
}
.pay-container .container-wrapper .setup-container .shop-container .content .title{
    font-size: 18px;
    color: #1a1a1a;
    padding-bottom: 20px;
}
.pay-container .container-wrapper .setup-container .shop-container .content span{
    font-size: 16px;
    color: #1a1a1a;
}
.pay-container .container-wrapper .setup-container .shop-container .content a{
    font-size: 17px;
    color: blue;
    padding-top: 4px;
    padding-bottom: 18px;
}
.pay-container .container-wrapper .setup-container .shop-container .content button{
    padding: 8px 10px;
    border: none;
    outline: none;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    padding: 10px 15px;
    width: fit-content;
    /* margin-bottom: 10px; */
}
.pay-container .container-wrapper .setup-container .shop-container .content .image{
    display: flex;
    align-items: center;
    justify-content: center;
}





.hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.3s, height 0.3s ease-out;
}
.hidden.show {
    opacity: 1;
    height: auto; 
}
@media screen and (max-width:450px) {
    .pay-container .container-wrapper .plan-container{
        width: auto;
        padding: 17px 40px;
        border-radius: 0;
        display: grid;
        gap: 2px;
    } 
    .pay-container .container-wrapper .plan-container .text-container{
        padding: 0 0 15px 0;
    }
    .pay-container .container-wrapper .plan-container .select-container button{
        position: relative;
        right: 0px;
    }
    .pay-container .container-wrapper .setup-container{
        height: 140px;
        width: auto;
        border-radius: 0;
        padding: 40px 40px;
    } 
    .pay-container .container-wrapper .plan-container .text-container .x{
        position: absolute;
        left: 330px; 
        /* display: none; */
    }
}
@media screen and (max-width:392px) {
    .pay-container .container-wrapper .plan-container .text-container .x{
        position: absolute;
        left: 300px; 
    }
}
@media screen and (max-width:362px) {
    .pay-container .container-wrapper .plan-container .text-container .x{
        position: absolute;
        left: 280px; 
    }
}
@media screen and (max-width:342px) {
    .pay-container .container-wrapper .plan-container .text-container .x{
        position: absolute;
        left: 260px; 
    }
    .pay-container .container-wrapper .setup-container .st-text-icon-container .show-more-button{
       /* padding-left: 00px; */
       position: relative;
       left: 20px;
    }

}
@media screen and (max-width:323px) {
    .pay-container .container-wrapper .plan-container .text-container .x{
        position: absolute;
        left: 240px; 
    }
}





